.container{
    width: 45%;
    margin: auto auto 3rem auto;
    padding: 1rem;
    border-radius: 1rem;

}
.full-width{
    width: 100%;
}
.order-field{
    display: flex;
    justify-content: space-between;
}
h1,img{
    text-align: center;
}

img{
    height: 15rem;
}
.descricao{
    min-height: 6rem;
    max-height: 10rem;
}
.btn-container{
    margin-right: 1rem;

}